<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG3bIlaQmSXLBLBVjD_VTunpaZ9Dc_nxs</string>
	<key>GCM_SENDER_ID</key>
	<string>955105553521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assisto</string>
	<key>PROJECT_ID</key>
	<string>dev-assisto</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-assisto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955105553521:ios:ca15012bbdb632ac5fbfd0</string>
</dict>
</plist>